{% extends "layout.html" %}
{% block body %}
<script type="text/javascript">
  $(function() {
    var submit_form = function(e) {
      $.getJSON($SCRIPT_ROOT + '/_create_data', {
        keyword: $('input[name="keyword"]').val(),
	what: $('#checkwhat:checked').is(':checked'),
	how: $('#checkhow:checked').is(':checked'),
	when: $('#checkwhen:checked').is(':checked'),
	howmany: $('#checkhowmany:checked').is(':checked')
      }, function(data) {
        $('#result').text(data.result);
        $('input[name=keyword]').focus().select();
	//$('input[name=what]').focus().select();
	//$('input[name=how]').focus().select();
      });
      return false;
    };
    $('a#keyword').bind('click', submit_form);
    //$('a#what').bind('click', submit_form);
    $('input[type=text]').bind('keydown', function(e) {
      if (e.keyCode == 13) {
        submit_form(e);
      }
    });
    $('input[name=a]').focus();
  });
</script>
<h1>data generator</h1>
<p>
  <input type="text" size="125" name="keyword"> 
  <span id="result">?</span><br />
  what: <input type="checkbox" name="checkwhat" id="checkwhat"><br />
  how: <input type="checkbox" name="checkhow" id="checkhow"><br />
  when: <input type="checkbox" name="checkwhen" id="checkwhen"><br />
  how many: <input type="checkbox" name="checkhowmany" id="checkhowmany">
<p><a href=# id="keyword">submit</a>
{% endblock %}
